.ColorDetail {
	width: 100vw;
	height: 100vh;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	font-size: 3em;
	text-align: center;
}
.ColorDetail-main {
	margin: 3em;
}
